.blackjack-card
	width: 30mm
	height: 40mm
	background: $light
	$spacing: 2px
	margin: $spacing
	border-radius: 10px
	padding: 10px
	font-size: 2rem

	span
		font-size: 1.5em

	img
		height: 1em

.suit-diamond, .suit-heart
	color: red

.suit-club, .suit-spade
	color: black

#blackjack-player
	display: flex
	justify-content: center
